h1, h2, h3, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #01216A
}
h3 {
    font-size: 20px;
}
.welkom {
    height: 103.5vh;
    background-color: #00B289;
    
}
.welkomTekst {
    justify-content: left;
    width: 70%;
    margin: 0 auto;
    margin-top: -180px;
}

.welkomTekst h1 {
    font-size: 120px;
    margin-bottom: -20px;
}
.welkomTekst p {
    font-size:20px;
}
header img {
width: 150px;
}
.image {
    height: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../images/person\ writing.jpg');
}
img {
    width: 100%;
    height: 50%;
}
header {
    display: flex;
}

.page {
    min-height: 100vh;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: -10px;

}

.container {
    width: 85%;
    margin-top: -64px;
    height: 103vh;
}

.container h2 {
    font-size: 40px;
}

.woningen {
    display: flex;
    flex-direction: row;
}

.woningen p {
    max-width: 50px;
    font-size: 12px;
    text-align: center;
}
svg {
    margin-right: 50px;
}
.container:nth-child(2) input {
    border-color: #01216A;
    border-radius: 3px;
    height: 25px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 6px;

}
.container input:nth-child(4) {
    border-color: #01216A;
    border-radius: 3px;
    height: 30px;
    width: 50px;
    
}

.currencyinput {
    color: #01216A;
    font-size: 25px;
    margin-bottom: 15px;
    
}

input[type=text], input[type=number]  {
    font-size: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #01216A;
    border-color: #01216A;
    border-radius: 3px;
    height: 25px;
}

.intro {
    width: 50%;
}

.inputenvragen {
    display: flex;
    flex-wrap: wrap;
}

.vragen {
    width: 46%;
    display: block;
}

.vragen:nth-child(1) input {
    width: 50px;
}

.verzekeringen {
    width: 50%;
    
}
.verzekeringen input {
    width: 50px;
}
.containerverzekeringen {
    display: flex;
}

.verzekeringen p:nth-child(2) {
    font-size: 20px;
}

.inputenvragen .vragen:nth-child(2) {
    margin-left: 4%;
}

.inputenvragen .vragen:nth-child(4) {
    margin-left: 4%;
}

.vragen button, #submit {
    width: 50px;
    height: 25px;
    background-color: #00B289;
    border-radius: 4px;
    font-style: bold;
    border: 2px solid #01216A;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1px; /* Specified height */
    background: black; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 10px;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  #intro {
      display: flex;
      width: 450px;

  }

  #intro input {
      width: 35px;
      margin-bottom: 0px;
  }

  input#maandelijksekosten, input#maandelijksinkomen {
      width: 65px;
      margin-left: 5px;
  }
  
  #house {
    background-image: url(../images/meubeuls/meubels-30.png);
    background-repeat: no-repeat;
      width: 80%;
      height: 100%;
      margin-left: 25%;
      margin-top: -5%;
      background-size: contain;

  }

  #test {
      margin-left: 650px;
      margin-top: 50px;
  }

  .info{
      width: 250px;
      border: 1px solid #01216A;
      padding: 10px;
      background-color: white;
      position: absolute;
      height: 200px;
      z-index: 1;
      /* display: none; */
      border-radius: 5px;
  }

  .info p {
      font-size: 12px;
  }

.info p span{
    border-bottom: 1px solid black;
}

#kledingkast {
    width: auto;
    margin-left: 27%;
    margin-top: -6.7%;
    height: 260px;
   
}

#koelkast {
    width: auto;
    margin-right: 45%;
    margin-top: 9.5%;
    height: 245px;
    margin-left: 1.5%;
    
   
}

#aanrecht {
    width: 165px;
    margin-left: 12%;
    height: auto;
    margin-top: 10.5%;
}

#kleed {
    width: 275px;
    height: auto;
   margin-left: 25.5%;
   margin-top: 15%;
}

#laptop {
    width: 50px;
    height: auto;
    margin-left: 22%;
    margin-top: 21%;
}
#cigaretten {
    width: 25px;
    height: auto;
    margin-left: 17%;
    margin-top: 25%;
}
#fiets {
    width: auto;
    height: 150px;
    margin-left: 45%;
   margin-top: 23%;

}
.objecten {
  display: flex;
     position: absolute; 

    
}

#kleding {
    margin-left: 40%;
    
}

#vervoer {
    margin-left: 20%;
    margin-top: 20%;
}
#voeding {
    margin-left: 10%;
    margin-top: 5%;
}